{% extends "Blog/padre.html" %}
{% load static %}
{% block title %}{{post.titulo}}{% endblock %}

{% block contenidoQueCambia %}

    <br/>
    <div class="container">
            
        <h1>{{ post.titulo }}</h1>
        <h4>{{ post.subtitulo }}</h4>
        <small>Por: {{ post.autor.first_name }} {{ post.autor.last_name }}
            {% if user.is_authenticated %}
                {% if post.autor.id == user.id %}
                    <a href="{% url 'update_post' post.pk %}">(Editar)</a></small><a href="{% url 'delete_post' post.pk %}">(Eliminar)</a></small><br/>
                {% endif %}
            {% endif %}
        <small>{{ post.fecha }}</small><br/>
        <small>Categoria: {{ post.categoria}}</small>
        <hr>
        
            {% if post.imagen %}
                <img src="{{ post.imagen.url }}">
            {% endif %}
            <br/><br/>
            {{ post.cuerpo|safe }}
        <br/><br/>
            <a href="{% url 'blog' %}" class="btn btn-outline-secondary">Atras</a>
        <br/>
        <hr>
    </div>

    <div>     
        {% if post.autor.perfil.avatar %}
            <img src="{{ post.autor.perfil.avatar.url}}" class="img-fluid rounded-start">
        {% endif %}
    
        <p>{{ post.autor.first_name }} {{ post.autor.last_name }}</p>
        
        {%  if post.author.profile.id %}
            <h5><p><a href = "{% url 'show_profile_page' post.autor.perfil.id %}"> Profile Page</a></p></h5>
        {% endif %}
        
        {% if  post.autor.website_url  %}
            <h5><p><a href="{{ post.autor.website_url }}">Website</a></p></h5> 
        {% endif %}
        {% if post.autor.facebook_url %}              
            <h5><p>|<a href="{{ post.autor.facebook_url }}">Facebook</a></p></h5>   
        {% endif %}
        <h5><p class="card-text">{{ post.autor.perfil.bio}}</p></h5>  
                    
    </div>


{% endblock %}
