{% extends "Blog/padre.html" %}
{% load static %}
{% block title %}Editar{% endblock %}
{% block contenidoQueCambia %}


{% if user.is_authenticated %}
    <!-- Page header with logo and tagline-->
    <header class="py-5 bg-light border-bottom mb-4">
        <div class="container">
            <div class="text-center my-5">
                <h1 class="fw-bolder">Editar Post</h1>
                <p class="lead mb-0"></p>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="form-group">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-outline-success">Actualizar</button>
                <h6><a href="{% url 'blog' %}" class="btn btn-outline-secondary">Atras</a></h6>
            </form>
        </div>
    </div>
{% else %}
<h4>Acceso no permitido</h4>
{% endif %}

{% endblock %}