{% extends "Blog/padre.html" %}
{% load static %}
{% block title %}Login{% endblock %}
{% block contenidoQueCambia %}
 <!-- Page header with logo and tagline-->
 <header class="py-5 bg-light border-bottom mb-4">
    <div class="container">
        <div class="text-center my-5">
            <h1 class="fw-bolder">Login</h1>
            <p class="lead mb-0"></p>
        </div>
    </div>
</header>
</br>
<div class="container">
<div class="form-group">
    <form method="POST">
        {% csrf_token %}
        <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Nombre de Usuario</label>
              <input type="text" class="form-control" name="username">
              
            </div>

            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Contraseña</label>
              <input type="password" class="form-control" name="password">
            </div>
            <button class="btn btn-outline-success">Login</button>
        </form>
    </form>
</br></br></br>
</div>
</div>


{% endblock %}